// background colors
$color-background: rgb(23, 23, 23);
$color-background-light: rgb(46, 46, 46);

// text colors
$color-text-main: #fff;

// link colors
$color-link-main: #fff;

// font sizes
$font-size-xs: 16px;
$font-size-s: 18px;
$font-size-m: 22px;
$font-size-l: 26px;
$font-size-xl: 34px;
$font-size-xxl: 48px;

//paddings
$base-padding-xs: 10px;
$base-padding-s: 20px;
$base-padding-m: 30px;
$base-padding-l: 60px;
$base-padding-xl: 90px;

// width
$base-width-m: 38px;

// transitions
$transition-default: all 500ms ease;

// z-indexes
$z-index-menu: 100;
