.base {
  width: 100%;
  min-height: 100vh;

  @include resetPaddings;

  background-color: $color-background;

  font-family: 'Inter';
  font-size: $font-size-s;
  font-weight: 400;
  line-height: 1.1;
}

