.section{
  width: 100%;
  padding-top: $base-padding-m;
  margin-bottom: $base-padding-l;

  &__title{
    padding: 0 0 $base-padding-l 0;
    margin: 0;
    box-sizing: border-box;

    color: $color-text-main;
    font-size: $font-size-xl;
  }
}
